<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="Login.css">
</head>

<body>
<p th:text="'안녕하세요. ' + ${data}" >안녕하세요</p>
<p th:text="'안녕하세요. ' + ${name}" >안녕하세요</p>
<div class="login-main">
  <a href="index.html"><img src="img/logo.png" class="no-drag"></a>
  <section class="login-sc">
    <div class="id">
      <input type="text" class="idpw" placeholder="아이디" maxlength="20">
    </div>
    <div class="pw">
      <input type="password" class="idpw" placeholder="비밀번호" maxlength="20">
    </div>
      <button type="button" id="login-btn">로그인</button>
      <button type="button" id="sign-btn" onClick="location.href='/sign'">회원가입</button>
  </section>
</div>
</body>
</html>